* {
    margin: 0;
    padding: 0;
    font-family: Karla,sans-serif
}

.car_lists {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px;
    justify-content: center;
    margin-bottom: 100px;
}

.car_lists > a {
    text-decoration: none;
    color: white;
    width: 30%;
    margin: 5px;
}

.car_lists > a > img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.car_lists > a > p {
    background-color: black;
    text-align: center;
    font-size: 3vw;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header{
    width: 100%;
    text-align: center;
}

.car_point_titel{
    font-size: 4vw;
}

.car_point_Logo{
    height: 20%;
}

.detail_logo {
    position: absolute;
    left: 0px;
    margin: 20px;
    width: 11%;
}

.detail {
    text-align: center;
}

.detail > picture > img {
    width: 100%;
}

.detail > picture > source {
    width: 100%;
}

.detail > h1 {
    font-size: 10vw;
}

.detail h2 {
    font-size: 6vw;
    margin-top: 100px;
}

.detail > video {
    width: 50%;
    margin: 50px auto;
}

.detail > p {
    width: 50%;
    margin: 50px auto;
}

.deatil_pictures {
    display: flex;
}

.deatil_pictures > img {
    width: 20%;
}

@media screen and (max-width: 1200px) {
    .car_lists > a {
        width: 40%;
    }

    .car_lists > a > p {
        font-size: 10vw;
    }

    .detail > h1 {
        font-size: 20vw;
        margin-top: 20px;
    }

    .detail > p {
        width: 90%;
    }

    .detail > video {
        width: 90%;
    }

    .deatil_pictures {
        flex-direction: column;
    }

    .deatil_pictures > img {
        width: 90%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 850px) {
    .car_lists > a {
        width: 100%;
    }    
}

.impressum {
    text-align: center;
}